{% extends 'front/base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}
{% block body %}
<main>
<section class="vh-xxl-100">
	<div class="container h-100 d-flex px-0 px-sm-4">
		<div class="row justify-content-center align-items-center m-auto">
			<div class="col-12">
				<div class="bg-mode shadow rounded-3 overflow-hidden">
					<div class="row g-0">

						<div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
							<div class="p-3 p-lg-5">
 								<lottie-player 
                                    src="{{ asset('assets/images/Forgot_Password.json') }}"
                                    background="transparent" 
                                    speed="1" 
                                    style="width: 100%; max-width: 380px; height: auto;"
                                    loop 
                                    autoplay>
                                </lottie-player>							</div>
							<div class="vr opacity-1 d-none d-lg-block"></div>
						</div>

						<div class="col-lg-6 order-1">
							<div class="p-4 p-sm-7">

								{% for flash_error in app.flashes('reset_password_error') %}
									<div class="alert alert-danger">{{ flash_error }}</div>
								{% endfor %}

								<h1 class="mb-2 h3">Mot de passe oublié ?</h1>
								<p>Entrez votre adresse email pour recevoir un lien de réinitialisation.</p>

								{{ form_start(requestForm, {'attr': {'class':'mt-sm-4 text-start'}}) }}

								<div class="mb-3">
									{{ form_label(requestForm.email) }}
									{{ form_widget(requestForm.email, {'attr': {'class':'form-control'}}) }}
									{{ form_errors(requestForm.email) }}
								</div>

								<div class="d-grid">
									<button class="btn btn-primary"style="background: linear-gradient(135deg, #1F3D2B 0%, #2a5438 100%); 
                                               border: none; 
                                               border-radius: 12px; 
                                               padding: 12px; 
                                               transition: all 0.3s ease;
                                               font-size: 15px;"> 
								Envoyer le lien de réinitialisation							
								</button>
								</div>

								{{ form_end(requestForm) }}

							</div>		
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</main>
{% endblock %}
{% block javascripts %}

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}