{% extends 'base.html.twig' %}

{% block title %}Culture index{% endblock %}

{% block body %}
    <h1>Culture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TypeCulture</th>
                <th>Variete</th>
                <th>DatePlantation</th>
                <th>DateRecoltePrevue</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for culture in cultures %}
            <tr>
                <td>{{ culture.id }}</td>
                <td>{{ culture.typeCulture }}</td>
                <td>{{ culture.variete }}</td>
                <td>{{ culture.datePlantation ? culture.datePlantation|date('Y-m-d') : '' }}</td>
                <td>{{ culture.dateRecoltePrevue ? culture.dateRecoltePrevue|date('Y-m-d') : '' }}</td>
                <td>{{ culture.statut }}</td>
                <td>
                    <a href="{{ path('app_culture_show', {'id': culture.id}) }}">show</a>
                    <a href="{{ path('app_culture_edit', {'id': culture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_culture_new') }}">Create new</a>
{% endblock %}
