{{ form_start(form) }}
    <div class="row g-3">
        <div class="col-md-6">
            {{ form_row(form.titre) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.type) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.description) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.dateDebut) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.dateFin) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.priorite) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.statut) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.localisation) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.parcelleId) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.cultureId) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.createdBy) }}
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        <a href="{{ path('admin_tasks_index') }}" class="btn btn-secondary">Annuler</a>
    </div>
{{ form_end(form) }}

