<!DOCTYPE html>
<html lang="fr">
<head>
	<title>{% block title %}AgriSmart{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script>
		// Force le thème clair (white theme) partout
		document.documentElement.setAttribute('data-bs-theme', 'light');
	</script>

	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/font-awesome/css/all.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/overlay-scrollbar/css/overlayscrollbars.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
	{% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">

	{# Inclusion du Header réduit #}

	<main class="flex-grow-1">
		{% block body %}{% endblock %}
	</main>

	{# Inclusion du Footer #}

	{% block javascripts %}
		<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
	{% endblock %}
</body>
</html>
